POSTGRES_DB=predictorama
POSTGRES_USER=predictorama
POSTGRES_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD
JWT_SECRET="generate a value with command: openssl rand -base64 64"
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
FOOTBALL_DATA_API_KEY=your-football-data-api-key